<header>
    <!-- <nav>

        <a routerLink="add-aluno">add aluno </a>
        

    </nav> -->
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="home" routerLink="get-alunos">Home</a>
          

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span>Alunos: {{getQuantidadeAlunos()}} </span>
              
            <div class="plus__sign">
                <a routerLink="add-aluno" > <i class="fa-solid fa-plus"></i></a>
            </div>

            </div>
        </div>
        
      </nav>

</header>